#selected_lists{
    width: 100%;
}

.urls_column{
    float: left;
    width: 205px;
    display: none;
}

.toggle_urls_btn{
    display: block !important;
}

.hint{
    margin: 20px 0;
    padding: 0 .7em;
}

.hint span.ui-icon{
    float: left;
    margin-right: .7em;
}
#body_wrapper{
    width: 55em;
    margin: 0 auto;
    display: none;
}

#lockdown{
    width: 35em;
    height: 11em;
    text-align: center;
    margin: auto;
}

.toggle_urls_btn{
    cursor: pointer;
}

.add_footer{
    margin-top: 1em;
}

.items_container{
    padding: 1em;
}

.items_container .remove_item{
    margin: 0.13em !important;
}

#private_bookmarks .delete_bookmark_icon{
    display: inline-block;
    cursor: pointer;
}

#no_password_warning, #no_bookmarks_warning{
    display: none;
}