.urls_column{
    float: left;
    width: 210px;
    display: none;
}

.toggle_urls_btn{
    text-align: center;
}

.toggle_urls_btn a{
    text-decoration: none;
    color: #000;
}

#body_wrapper{
    width: 800px;
    margin: 0 auto;
    display: none;
}

#lockdown{
    width: 500px;
    height: 200px;
    text-align: center;
    margin: auto;
}