.urls_column{
    float: left;
    width: 210px;
    display: none;
}

.toggle_urls_btn{
    text-align: center;
}

.toggle_urls_btn a{
    text-decoration: none;
    color: #000;
}

#body_wrapper{
    width: 55em;
    margin: 0 auto;
    display: none;
}

#lockdown{
    width: 35em;
    height: 11em;
    text-align: center;
    margin: auto;
}

.toggle_urls_btn{
    cursor: pointer;
}